# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# components não implementado ainda
components/Header/Dashboard
components/Header/DetalhesPessoa
components/Header/Login
components/Header/NovaPessoa
components/Header/Pessoas
components/PrivateRoute/Dashboard
components/PrivateRoute/DetalhesPessoa
components/PrivateRoute/Login
components/PrivateRoute/NovaPessoa
components/PrivateRoute/Pessoas
components/Sidebar/Dashboard
components/Sidebar/DetalhesPessoa
components/Sidebar/Login
components/Sidebar/NovaPessoa
components/Sidebar/Pessoas
components/StatusBadge/Dashboard
components/StatusBadge/DetalhesPessoa
components/StatusBadge/Login
components/StatusBadge/NovaPessoa
components/StatusBadge/Pessoas

