@use '../../styles/variables' as *;

.wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: $cor-cinza-100; //
}

.conteudoPrincipal {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: $largura-sidebar; // Garante que o conteúdo não fique sob a Sidebar
  min-height: 100vh;
}

.view {
  flex: 1;
  padding: $espaco-6; //
  overflow-y: auto;
  background-color: $cor-branco; //
  
  // Opcional: limitar a largura do conteúdo interno para melhor leitura
  max-width: 1200px;
  width: 100%;
}